<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
         initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>TEMPLATE DASHBOARD LOJA FATEC</title>
</head>
<body>
    <header>
        <div class="info-header">
            <div class="logo">
                <h3>Painel adminstrativo da loja</h3>
            </div>
        </div>
        <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </header>
    <section class="main">
        <div class="sidebar">
            <h3>LANÇAMENTOS</h3>
            <a href="#"> Clientes</a>
            <a href="#"> Fornecedores</a>
            <a href="#"> Produtos</a>
            <a href="#"> Vendas</a>
            <br>
            <div class="stroke"></div>
            <h3>RELATÓRIOS</h3>
            <a href="#"> Pedidos</a>
            <a href="#"> Vendas</a>
            <br>
            <hr>
        </div>
        <div class="content">
            <div class="titulo-secao">
                <h2>PAINEL DE ADMINISTRADOR</h2>
                <br/>
                <div class="stroke"></div>
            </div>
            <div class="box-info">
                <div style="background: linear-gradient(45deg,
                     #00a098, #6ffff3);" class="box-info-single">
                    <div class="info-text">
                        <h3>Saldo em caixa</h3>
                        <p>+ R$25000,00</p>
                    </div>
                </div>
                <div style="background: linear-gradient(45deg,
                     #8d0000, #ff6b6b);" class="box-info-single">
                    <div class="info-text">
                        <h3>Saldo devedor</h3>
                        <p>- R$2500,00</p>
                    </div>
                </div>
                <div style="background: linear-gradient(45deg,
                     #ed28ff, #ee6dff);" class="box-info-single">
                    <div class="info-text">
                        <h3>VISITANTES DE HOJE</h3>
                        <p>1500 clientes via Instagram</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>