<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
            <div class="logo">
                <a href="index.html"><img src="../img/logo-loja.png" alt="Logo" width="50"></a>
            </div>
        <nav>
            <a href="index.html">INÍCIO</a>
            <a href="produtos.html">PRODUTOS</a>
            <a href="carrinho.html">CARRINHO</a>
        </nav>
        <div class="user">
            <a href="dashboard.html"><img src="../img/user.png" width="50"></a>
        </div>
    </header>
    <main>
        <div class="conteudo-main">
            <h2 class="bem-vindas">
                Olá, seja bem-vindo à nossa loja!
            </h2>
        </div>
        <div class="boxes-meio">
            <div class="box1">
                <h1>Sobre nós</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum molestias veniam porro dolore obcaecati adipisci! Corrupti sit, nobis sapiente ratione, quod cumque fugit eveniet rem possimus dolores voluptates incidunt consequuntur!</p>
            </div>
            <div class="box2">
                <h1>Serviços oferecidos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, ex tempora possimus facere qui, culpa eaque iure aspernatur, id nisi rerum repellendus minus eligendi dolorum ea doloribus eos cumque! Tenetur!</p>
            </div>
            <div class="box3">
                <h1>Duvídas frequentes</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet velit facilis odio dolor veritatis! Eius, sapiente distinctio! Possimus tempora at, autem labore officiis veniam magnam! Ducimus quasi mollitia voluptatum consectetur.</p>
            </div>
        </div>
    </main>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
