<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
            <div class="logo">
                <a href="index.html"><img src="../img/logo-loja.png" alt="Logo" width="50"></a>
            </div>
        <nav>
            <a href="index.html">INÍCIO</a>
            <a href="produtos.html">PRODUTOS</a>
            <a href="carrinho.html">CARRINHO</a>
        </nav>
        <div class="user">
            <a href="dashboard.html"><img src="../img/user.png" width="50"></a>
        </div>
    </header>
    <main>
        <div class="conteudo-main">
            <h2 class="txt">
                Produtos disponíveis
            </h2>
        </div>
        <div class="produtos">
            <div class="produto1">
                <img src="../img/produtos/tenis.avif" width="200">
                <a href="#">Adicionar ao carrinho</a>
            </div>
            <div class="produto2">
                <img src="../img/produtos/shorts.avif" width="200">
                <a href="#">Adicionar ao carrinho</a>
            </div>
            <div class="produto3">
                <img src="../img/produtos/conjunto.jpeg" width="200">
                <a href="#">Adicionar ao carrinho</a>
            </div>
            <div class="produto4">
                <img src="../img/produtos/camisa.webp" width="200">
                <a href="#">Adicionar ao carrinho</a>
            </div>
        </div>
    </main>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
